text {
    font: 10px sans-serif;
}
.c3 path, .c3 line, .tick text { 
    stroke: white;
}

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
    stroke: white;
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line {
    stroke: white;
}

.c3-legend-item {
    fill: white;
}

.c3-tooltip-container {
    color: #222;
}

#barchart {
    height: 34vh;
}